*{
	margin: 0px;
	padding: 0px;
}

.main_left ul li a {
    font-family: 'times new roman';
    font-size: 20px;
}

.title_right h4 {
    padding: 10px;
    font-size: 21px;
    font-weight: 700;
}

.main_left ul li a {
    color: orange;
}

.main_left ul li {
    margin-left: 60px;
    margin-top: 10px;
    /* color: orange; */
}

.main_left p {
    margin-bottom: 90px;
}

.main_left h3 {
    padding-left: 20px;
    font-family: "times new roman";
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.main_left p {
    text-align: justify;
    padding: 10px;
}

.title_right {
    border-bottom: 1px solid brown;
}

.main_content .title_left {
    border-bottom: 1px solid brown;
}
.main_content {
    border: 1px solid brown;
    margin: 20px 0px;
}

.list {
    border: 1px solid brown;
    margin: 20px 0px;
}
.main_left ul li:hover a {
    background: white;
}
li.list-group-item:hover a {
    background: white;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}